[submodule "integrations/frzr-meta-root"]
	path = integrations/frzr-meta-root
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/frzr-meta-root.git
[submodule "integrations/btr-fs-git"]
	path = integrations/btr-fs-git
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/btr-fs-git.git
[submodule "integrations/btrfs-assistant"]
	path = integrations/btrfs-assistant
	url = https://gitlab.com/openos-project/linux-kernel_filesystem_deving/btrfs-assistant.git
